In [1]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [2]:
!python -m pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp36-cp36m-win_amd64.whl (6.8 MB)
Collecting scipy>=0.19.1
  Downloading scipy-1.5.4-cp36-cp36m-win_amd64.whl (31.2 MB)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 scipy-1.5.4 sklearn-0.0 threadpoolctl-2.1.0

In [3]:
%load_ext autoreload

%autoreload 2

In [4]:
import pandas as pd

In [5]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 84C7-684D

 C:\Develops\leaning_machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리   3,999,985,664 바이트 남음

In [12]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header = None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [13]:
pd_data.shape

(398, 9)

In [14]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [15]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [16]:
x = pd_data[['weight']]

In [17]:
y = pd_data[['mpg']]

In [18]:
x.shape, y.shape

((398, 1), (398, 1))

In [19]:
from sklearn.linear_model import LinearRegression

In [21]:
lr =  LinearRegression()

In [22]:
lr.fit(x,y)

LinearRegression()

In [25]:
lr.coef_, lr.intercept_

(array([[-0.00767661]]), array([46.31736442]))

y = -0.00767661x + 46.31736442

In [26]:
lr.score(x,y)   # 정확도

0.6917929800341573

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
train_test_split(x,y)

[     weight
 347  1975.0
 187  4215.0
 272  2855.0
 381  2205.0
 339  2635.0
 ..      ...
 5    4341.0
 311  2120.0
 396  2625.0
 219  2300.0
 55   1834.0

 [298 rows x 1 columns],
      weight
 395  2295.0
 107  2789.0
 255  2720.0
 14   2372.0
 230  4165.0
 ..      ...
 215  3755.0
 96   3821.0
 202  3193.0
 21   2430.0
 45   2962.0

 [100 rows x 1 columns],
       mpg
 347  37.0
 187  17.5
 272  23.8
 381  36.0
 339  26.6
 ..    ...
 5    15.0
 311  32.1
 396  28.0
 219  25.5
 55   27.0

 [298 rows x 1 columns],
       mpg
 395  32.0
 107  18.0
 255  25.1
 14   24.0
 230  15.5
 ..    ...
 215  13.0
 96   13.0
 202  17.5
 21   24.0
 45   18.0

 [100 rows x 1 columns]]

In [29]:
lr.coef_, lr.intercept_

(array([[-0.00767661]]), array([46.31736442]))