d : 폴더, - : 파일
list명령어 상세 출력결과 라인별 첫 단어 의미

In [1]:
!ls

sample_data  Wholesale_customers_data.csv

In [2]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [3]:
!pwd

/content

In [4]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [5]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:45 ./Wholesale_customers_data.csv

In [33]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df.head(3)

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      3
1           1        2       3  ...              3293        1776      3
2           2        2       3  ...              3516        7844      3

[3 rows x 10 columns]

In [35]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [37]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
dtree.score(X,Y)

1.0